<div class="container">
  <div class="title">
    <h1>Task Tracker</h1>
    v2.0
  </div>
  <div class="content">
    <div class="create-task">
      <h2>Create a Task</h2>
      <form [formGroup]="taskForm" (ngSubmit)="addTask()">
        <div class="task-input-container">
          <label class="task-input">
            Task Name
            <input type="text" formControlName="name">
          </label>
          <label class="task-input">
            Date
            <input type="text" formControlName="date">
          </label>
          <label class="task-input">
            Assigned To
            <input type="text" formControlName="assigned">
          </label>
        </div>
        <button class="submit" type="submit" [disabled]="!taskForm.valid">Submit</button>
      </form>
    </div>
    <div class="task-list">
      <h2>Existing Tasks</h2>
      <div class="task" *ngIf="tasks.length > 0">
        <ul>
          <li *ngFor="let task of tasks" class="existing-tasks">
            <span>{{task.name}}</span>
            <span>{{task.date}}</span>
            <span>{{task.assigned}}</span>
            <button class="remove-task" (click)="removeTask(task.id)">x</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
